@import url('../../styles.css');

.button-large-icon .icon-button {
  width: 20px;
  height: 20px;
}
button svg {
  width: 100%;
  height: 100%;
}
.button-medium-icon .icon-button {
  width: 18px;
  height: 18px;
}
.button-small-icon .icon-button {
  width: 16px;
  height: 16px;
}

.dot-flashing {
  position: relative;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  background-color: #c8d3f7;
  color: #c8d3f7;
  animation: dot-flashing 0.25s infinite linear alternate;
  animation-delay: 0.125s;
  margin: 0 0.75rem;
}
.dot-flashing::before,
.dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -15px;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  background-color: #c8d3f7;
  color: #c8d3f7;
  animation: dot-flashing 0.25s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 15px;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  background-color: #c8d3f7;
  color: #c8d3f7;
  animation: dot-flashing 0.25s infinite alternate;
  animation-delay: 0.25s;
}

@keyframes dot-flashing {
  0% {
    background-color: #c8d3f7;
  }
  50%,
  100% {
    background-color: #f0f3ff;
    color: #f0f3ff;
  }
}
